<div id="newRoom">
  
  <fieldset>
	<legend>Stwórz nowy pokój</legend>
<%= form_for(@new_room) do |f| %>
	Nazwa pokoju <%= f.text_field :name %><br/><br/>
	Czy ma być publiczny?<%= f.check_box :public %><br/><br/>

	<%= f.submit %>
<% end %>
</fieldset>
</div>



<fieldset>
  <legend>Istniejące pokoje</legend>
  <table cellpadding="2" cellspacing="5">
    <tr>
      <th>Nazwa</th>
      <th>Liczba użytkowników</th>
      <th>Utworzony</th>

          <th>Usuń</th>

    </tr>

    <% @rooms.each do |room| %>
      <tr>
        <td align="center" width="300px"><a href="/party/<%= room.id %>"><%= room.name %></a></td>
        <td> <%= room.users.count%>  </td>
        <td><%= room.created_at %></td>
   
            <td><%= link_to 'Usuń', room, method: :delete, data: { confirm: 'Napewno?' } %></td>
       


      </tr>
    <% end %>
  </table>
</fieldset>