<!-- Wyświetlenie wszystkich użytkowników w pokoju -->
<fieldset>
  <legend>Użytkownicy w pokoju</legend>
  <table cellpadding="2" cellspacing="5">
    <tr>
      <th>Email</th>
      <th>Id</th>
       </tr>

    <% @all_user.each do |alluser| %>
      <tr>
        <td align="center" width="300px"><%= alluser.email %></a></td>
        <td> <%= alluser.id%>  </td>
        
      </tr>
    <% end %>
  </table>
</fieldset>

<%= link_to 'Poczekalnia', rooms_path(@rooms) %>

<div id="videobox">

</div>


<!-- <script src="http://static.opentok.com/v0.91/js/TB.min.js" type="text/javascript"></script> -->
<script src="//static.opentok.com/webrtc/v2.2/js/opentok.min.js" ></script>
<script type="text/javascript">
	var apiKey =  44727722;
	var sessionId = "<%= @room.sessionId %>";
	var token = "<%= @tok_token %>";
  var name = "<%= @sheets %>";
	var session;
      


var session = OT.initSession(apiKey, sessionId);
 
  session.on("streamCreated", function(event) {
    session.subscribe(event.stream);
  });
 
  session.connect(token, function(error) {
    // var publisherProperties = {resolution: "1280x720"};
    var publisher = OT.initPublisher("videobox",
      {width:400, height:300}, {name: "<%=@sheets%>"});
    session.publish(publisher);
  });
</script>
