<!-- Wyświetlenie wszystkich użytkowników w pokoju -->
<fieldset>
  <legend>Użytkownicy w pokoju</legend>
  <table cellpadding="2" cellspacing="5">
    <tr>
      <th>Email</th>
      <th>Id</th>
       </tr>

    <% @all_user.each do |alluser| %>
      <tr>
        <td align="center" width="300px"><%= alluser.email %></a></td>
        <td> <%= alluser.id%>  </td>
        
      </tr>
    <% end %>
  </table>
</fieldset>

<%= link_to 'Poczekalnia', rooms_path(@rooms) %>

<div id="videobox">

</div>


<!-- <script src="http://static.opentok.com/v0.91/js/TB.min.js" type="text/javascript"></script> -->
<script src="//static.opentok.com/webrtc/v2.2/js/opentok.min.js" ></script>
<script type="text/javascript">
	var apiKey =  44727722;
	var sessionId = "<%= @room.sessionId %>";
	var token = "<%= @tok_token %>";
  var name = "<%= @sheets %>";
	var session;
        

//	TB.addEventListener('exception', exceptionHandler);
	

	//Video chat event listeners
	//session.addEventListener('sessionConnected', sessionConnectedHandler);
	//session.addEventListener('streamCreated', streamCreatedHandler);
    //session.addEventListener('streamDestroyed', streamDestroyedHandler);


TB.setLogLevel(TB.DEBUG);
//session.connect(apiKey, token);
   var session = TB.initSession(sessionId);
    session.addEventListener('sessionConnected', sessionConnectedHandler);
    session.addEventListener('streamCreated', streamCreatedHandler);
    session.connect(apiKey, token);


 var publisher;
    function sessionConnectedHandler(event) {
      publisher = TB.initPublisher(apiKey, 'videobox', {name: "<%=@current_user_chat%>"});
      session.publish(publisher);





      // Subscribe to streams that were in the session when we connected
      subscribeToStreams(event.streams);
    }

    function streamCreatedHandler(event) {
      // Subscribe to any new streams that are created
      subscribeToStreams(event.streams);
    }

    function subscribeToStreams(streams) {
      for (var i = 0; i < streams.length; i++) {
        // Make sure we don't subscribe to ourself
        if (streams[i].connection.connectionId == session.connection.connectionId) {
          return;
        }
alert(streams.length);
        // Create the div to put the subscriber element in to
        var div = document.createElement('div');
        div.setAttribute('id', 'stream' + streams[i].streamId);
        document.body.appendChild(div);

        // Subscribe to the stream
        session.subscribe(streams[i], div.id);
      }
    }

</script>
